@page "/"

<h1>Visit our communities!</h1>

Please find a list of welcoming communities that would love to have you be a part of our local groups, by either joining and learning or presenting back to others!

<table>
  <tr>
    <th>Community</th>
    <th>Website</th>
  </tr>
  <tr>
    <td>Azure Thames Valley</td>
    <td><a href="https://www.meetup.com/Azure-Thames-Valley/">Click for more info</a></td>
  </tr>
  <tr>
    <td>Cloud Security London</td>
    <td><a href="https://www.meetup.com/Cloud-Security-London/">Click for more info</a></td>
  </tr>
  <tr>
    <td>Glasgow Umbraco Users Group</td>
    <td><a href="https://www.meetup.com/Glasgow-Umbraco-Users-Group-GLUUG/">Click for more info</a></td>
  </tr>
  <tr>
    <td>Ladies of Code Glasgow</td>
    <td><a href="https://www.meetup.com/Ladies-of-Code-Glasgow">Click for more info</a></td>
  </tr>
  <tr>
    <td>Scottish Developers</td>
    <td><a href="https://www.meetup.com/Scottish-Developers/">Click for more info</a></td>
  </tr>
  <tr>
    <td>The ultimate guide to attending technical events remotely in the UK</td>
    <td><a href="https://cloudblogs.microsoft.com/industry-blog/en-gb/technetuk/2021/03/19/the-ultimate-guide-to-attending-technical-events-remotely-in-the-uk/">Click for more info</a></td>
  </tr>
</table>

<SurveyPrompt Title="How is Blazor working for you?" />
